<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Refresh" content="300">
    <!-- Cookie #1 -->
    <meta http-equiv="set-cookie" content="Value=_ga, Site=.grafana.net/; SameSite=None; Secure;"/>
    <!-- Cookie #2 -->
    <meta http-equiv="set-cookie" content="Value=_gid, Site=.grafana.net/; SameSite=None; Secure;"/>
    <!-- Other things like title etc -->

    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Ebalance Data Monitoring</title>
</head>
<div class="container-fluid">
    <h1 style="text-align: center;position:relative;">Action list to mantain flexibility </h1>

    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="Index" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Error" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Error</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Forecasting" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Forecasting</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Models" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Models</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="Consumptions" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Measurements</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="py-3" style="text-align: center;max-width: fit-content; max-height: fit-content;">
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="input-group mb-2" width="50" style="margin-top: 50px;width:650px;text-align:center;">                 
                    <select class="form-select" name="modelType" id="modelType" aria-label="Default select example" style="margin-left: 10px;max-height: 40px;margin-top: 40px">
                        <option selected value="INC">Incremental</option>
                        <option  value="DEC">Decremental</option>
                    </select>
                        <select class="form-select" name="modelSelected" id="modelSelected" aria-label="Default select example" style="margin-left: 10px;max-height: 40px;margin-top: 40px">
                            <option selected value="Dense">Dense</option>
                            <option  value="Dense_2">Dense 2</option>
                            <option  value="Dense_3">Dense 3</option>
                        </select>
                        <select class="form-select" name="sc_type" id="sc_type" aria-label="Default select example" style="margin-left: 10px;max-height: 40px;margin-top: 40px">
                            <option selected value="REAL">REAL</option>
                            <option  value="No_Bat">No Batteries</option>
                            <option  value="No_Car">No Cars</option>
                        </select>
                        <input class="btn btn-primary" type="submit" value="Submit" style="margin-top: 40px;margin-left: 1px;">
                </div>
            </form>
            
            
                  <div class="py-3" style="text-align: center;">
                    <div class="p-10" style="display: inline-block; float : left;margin-top: 50px; ">
                    <table class="table table-bordered" style="width: 150%;"  >
                        <thead>
                          <tr>
                            <th scope="col">Datetime</th>
                            <th scope="col">Expected Consumption </th>
                            <th scope="col">Action Consumption </th>

                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                    {% for v in consumptions %}
                    <tr>
                        <td>{{ v.datetime }} </td>
                        <td>{{ v.cons_exp }} kW </td>
                        <td>{{ v.cons }} kW </td>
                        <td>{{ v.action }} </td>
                    </tr>
                 {% endfor %}
                        </tbody>
                    </table>
                    </div>            
                </div>
            
        </div>
</body>

</html>